#box1{
    height:100px;
    width:100px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-top:100px;
}
#box2{
    height:100px;
    width:100px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-top:200px;
}
#box3{
    height:100px;
    width:100px;
    background-color: rgb(74, 190, 28);
    display: flex;
    justify-content: center;
    align-self:center;
    margin-top:400px;
}
#navbar{
    display:flex;
    background-color: black;
    color:white;
    justify-content: space-around;
    align-items: center;
}
