#box1{
    height:200px;
    width:200px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-top:100px;
}
body{
    background-color: black;
}
#box2{
    height:100px;
    width:100px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-self:center;
    margin-top:200px;
}
#box3{
    height:100px;
    width:100px;
    background-color: rgb(74, 190, 28);
    display: flex;
    justify-content: center;
    align-self:center;
    margin-top:400px;
}
#navbar{
    display:flex;
    background-color: black;
    color:white;
    justify-content: space-around;
    align-items: center;
}
#page2{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
}

#demo {
  height: 100%;
  position: relative;
  display: inline-block;
}
.box {
  position: relative;
  border-radius: 6px;
  height:100px;
  width:100px;
  background-color:rgb(11, 214, 79);
  margin-top: 4px;
  display: inline-block;
}
.arrow {
  display:block;
  position:relative;
  width:150px;
  height:150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.07615 16.6173C7.23093 16.2436 7.59557 16 8.00003 16H10.5V3C10.5 2.44772 10.9477 2 11.5 2H12.5C13.0523 2 13.5 2.44772 13.5 3V16H16C16.4045 16 16.7691 16.2436 16.9239 16.6173C17.0787 16.991 16.9931 17.4211 16.7071 17.7071L12.7071 21.7071C12.3166 22.0976 11.6834 22.0976 11.2929 21.7071L7.29292 17.7071C7.00692 17.4211 6.92137 16.991 7.07615 16.6173Z' fill='%230ae448'/%3E%3C/svg%3E");
}